@use "sass:map";
@use "../../../../variables";

$screen-width-breakpoint: 750px;

.community {
    @include variables.section;

    .contentContainer {
        @include variables.section;
        @include variables.flex-row;
        align-items: center;
        justify-content: center;
        gap: 3em;
        margin: auto;

        .imageSide, .textSide {
            width: 50%;
            // border: 2px solid black;
        }

        .imageSide {
            @include variables.flex-row;
            align-items: center;
            justify-content: center;

            img {
                @include variables.square-element(85%);
                min-width: 150px;
                max-width: 350px;
                display: block;
                margin: auto;
            }
        }

        .textSide {
            .text {
                h3 {
                    font-size: clamp(
                        variables.font-size-val("lg"),
                        7.5vw,
                        variables.font-size-val("hero")
                    );
                    font-weight: 600;
                    line-height: 1.2em;
                }
    
                p {
                    font-size: clamp(
                        variables.font-size-val("sm"),
                        3vw,
                        variables.font-size-val("lg")
                    );
                    margin-top: 1em;
                    max-width: 80%;
                    line-height: 1.25em;
                }
            }

            .buttonContainer {
                margin-top: 2em;

                a {
                    button {
                        @include variables.font-size("base");
                        padding: 1em 3em;
                        border: 4px solid map.get(variables.$colors, "discord");
                        background-color: map.get(variables.$colors, "discord");
                        color: #FFF;

                        transition: background-color 150ms ease-in-out;

                        &:hover {
                            cursor: pointer;
                            background-color: transparent;
                            color: #000;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $screen-width-breakpoint) {
    .community {
        .contentContainer {
            @include variables.flex-column;
            align-items: center;
            justify-content: center;

            .textSide {
                @include variables.flex-column;
                align-items: center;

                .text {
                    h3, p {
                        text-align: center;
                        max-width: none;
                    }
                }

                .buttonContainer {
                    margin-top: 4em;
                }
            }
        }
    }
}