@use "../../../../variables";

.creators {
    @include variables.section;
    @include variables.flex-row;
    align-items: center;
    justify-content: center;
    padding-bottom: 10em;

    .contentContainer {
        height: 25em;
        width: 90vw;
        .carouselContainer {
            position: relative;
            overflow: hidden;

            .slide {
                display: inline-block; // Ensures horizontal layout
                white-space: "normal"; // Prevents breaking layout
                height: 50vw;

                .creator {
                    @include variables.flex-column;
                    align-items: center;

                    margin: auto;
                    width: 50vw;

                    img {
                        margin: 1em;
                        width: 50%;
                    }

                    .textContainer {
                        @include variables.flex-column;
                        align-items: center;

                        padding: 0 2em;
                        margin: 1em;

                        h3, p {
                            margin: 0.5em 0;
                        }

                        p {
                            font-size: clamp(
                                variables.font-size-val("sm"),
                                4vw,
                                1.1em,
                            );
                            width: 40ch;
                            text-align: center;
                            white-space: wrap;
                        }
                    }
                }
            }

            .carousel {
                @include variables.flex-column;
                align-items: center;

                .navContainer {
                    display: flex;
                    justify-content: space-between;
                    position: absolute;
                    top: 15%;
                    width: 90%;

                    .navButton {
                        border: none;
                        background-color: transparent;
                        padding: 0em 1em;

                        img {
                            @include variables.square-element(10vw)
                        }

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}