@use "../../variables";

$screen-width-breakpoint: 550px;

.footer {
    @include variables.flex-column;
    align-items: center;
    background-color: #000;
    color: #FFF;
    padding: 3em 8em;

    p {
        font-size: 0.85em;
        display: block;
        opacity: 0.75;
        margin: 0 auto 3em auto;
    }

    ul {
        @include variables.flex-row;
        width: 102%;
        max-width: 1010px;
        align-items: flex-start;
        justify-content: space-between;
        list-style: none;

        li {
            margin: 0.5em;

            h4 {
                @include variables.font-size("lg");
                margin-bottom: 0.75em;
                font-weight: 500;
            }

            ul {
                @include variables.flex-column;

                li {
                    margin: 0.5em 0;
                    a {
                        margin: 0 !important;
                        font-weight: 400;
                        color: #FFF;
                        text-decoration: none;
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $screen-width-breakpoint) {
    .footer {
        padding: 3em 2em !important;

        ul {
            @include variables.flex-column;
            margin: 1em 0;
        }
    }
}